* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: Arial;
     background: #f5f5f5;
}

header {
     background: #003366;
     color: white;
     padding: 20px;
}

nav a {
     color: white;
     margin-right: 15px;
     text-decoration: none;
}

.hero {
     padding: 80px;
     text-align: center;
     background: white;
}

.container {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     padding: 20px;
}

.card {
     width: 280px;
     background: white;
     padding: 15px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.card img {
     width: 100%;
}

.detail {
     width: 800px;
     margin: auto;
     background: white;
     padding: 30px;
     margin-top: 20px;
}

.detail img {
     width: 300px;
}